<!DOCTYPE html>
<html>
<head>
    <title>Backups de Odoo</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
    <style>
        body {
            background-color: #f8f9fa;
        }
        .container {
            background-color: #ffffff;
            border-radius: 10px;
            padding: 20px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            margin-top: 50px;
        }
        h1 {
            color: #343a40;
        }
        .btn {
            font-size: 14px;
        }
    </style>
    <script>
        function confirmAction(actionUrl, message) {
            if (confirm(message)) {
                window.location.href = actionUrl;
            }
        }
    </script>
</head>
<body>
    <div class="container">
        {% if message %}
            <div class="alert alert-success mt-3">{{ message }}</div>
        {% endif %}
        
        {% if error_message %}
            <div class="alert alert-danger mt-3">{{ error_message }}</div>
        {% endif %}       
        <a href="{{ url_for('create_backup') }}" class="btn btn-success mb-3"><i class="bi bi-cloud-upload"></i> Crear Backup</a>
        
        <h1 class="mb-3">Backups Disponibles</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Archivo de Backup</th>
                    <th>Fecha de Creación</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for backup in backups %}
                    <tr>
                        <td>{{ backup.name }}</td>
                        <td>{{ backup.date }}</td>
                        <td>
                            <a href="javascript:void(0);" class="btn btn-info btn-sm me-2" onclick="confirmAction('{{ url_for('download_backup', backup_file=backup.name) }}', '¿Estás seguro de que deseas descargar este archivo?')"><i class="bi bi-cloud-download"></i> Descargar</a>
                            <a href="javascript:void(0);" class="btn btn-info btn-sm" onclick="confirmAction('{{ url_for('restore', backup_file=backup.name) }}', '¿Estás seguro de que deseas restaurar esta base de datos? Esto eliminará la base de datos actual.')"><i class="bi bi-box-arrow-in-down"></i> Restaurar</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        
        <div class="mt-4 p-3 border rounded">
            <h2 class="mb-3">Gestión de Odoo</h2>
            <div>
                <a href="javascript:void(0);" class="btn btn-danger me-2" onclick="confirmAction('{{ url_for('restart_odoo') }}', '¿Estás seguro de que deseas reiniciar Odoo?')"><i class="bi bi-arrow-repeat"></i> Reiniciar Odoo</a>
                <a href="javascript:void(0);" class="btn btn-warning me-2" onclick="confirmAction('{{ url_for('stop_odoo') }}', '¿Estás seguro de que deseas detener Odoo?')"><i class="bi bi-stop"></i> Detener Odoo</a>
                <a href="javascript:void(0);" class="btn btn-success" onclick="confirmAction('{{ url_for('start_odoo') }}', '¿Estás seguro de que deseas iniciar Odoo?')"><i class="bi bi-play"></i> Iniciar Odoo</a>
            </div>
        </div>
    </div>
</body>
</html>
