<!DOCTYPE html>
<html>
<head>
    <title>Backups de Odoo</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <style>
        body {
            background-color: #f8f9fa;
        }
        .container {
            background-color: #ffffff;
            border-radius: 10px;
            padding: 20px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            margin-top: 50px;
        }
        h1 {
            color: #343a40;
        }
        .btn {
            font-size: 14px;
        }
    </style>
</head>
<body>
    <div class="container">
        {% if message %}
            <div class="alert alert-success mt-3">{{ message }}</div>
        {% endif %}
        
        {% if error_message %}
            <div class="alert alert-danger mt-3">{{ error_message }}</div>
        {% endif %}
        <a href="{{ url_for('copy_folder') }}" class="btn btn-primary mb-3">Copiar Carpeta Remota</a>
        <a href="{{ url_for('create_backup') }}" class="btn btn-success mb-3">Crear Backup</a>
        
        <h1 class="mb-3">Backups Disponibles</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Archivo de Backup</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for backup in backups %}
                    <tr>
                        <td>{{ backup }}</td>
                        <td>
                            <a href="{{ url_for('download_backup', backup_file=backup) }}" class="btn btn-info btn-sm me-2">Descargar</a>
                            <a href="{{ url_for('restore', backup_file=backup) }}" class="btn btn-info btn-sm">Restaurar</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <h2 class="mb-3">Gestión de Odoo</h2>
        <div>
            <a href="{{ url_for('restart_odoo') }}" class="btn btn-danger me-2">Reiniciar Odoo</a>
            <a href="{{ url_for('stop_odoo') }}" class="btn btn-warning me-2">Detener Odoo</a>
            <a href="{{ url_for('start_odoo') }}" class="btn btn-success">Iniciar Odoo</a>
        </div>
    </div>
</body>
</html>
